<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.gmail.jiangyang5157.kotlin">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:label="@string/app_name"
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="router"
            android:name=".example.router.ExampleRoutersActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="router.fragmentroute"
            android:name=".example.router.fragmentroute.ExampleActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="UriRouter Flow 1"
            android:name=".example.router.uri.ui.UriRouterActivity1"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="UriRouter Flow 2"
            android:name=".example.router.uri.ui.UriRouterActivity2"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
